/* modal custom design strat*/
.modal.custom .modal-body {
	background-color:#00ffff;
}
.modal.custom .modal-dialog .modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #3385ff;
    background-color: #00b3b3;
 }
 .modalcontentfirst{
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
     border-radius: 10px;
	 text-align:center;
	 border:2px solid black;
 }
/* modal custom design end*/